body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.section {
  padding: 100px 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 14px;
}

.title {
  color: tomato;
}

.card-list {
  display: flex;
  gap: 24px;
}

.card-title {
  font-size: 50px;
}
